.center-text{
  box-sizing: border-box;
       overflow:hidden;
    position: fixed;
    background: black;
   color: white;
         z-index:60;

    height:350px;
       width: 500px;
    left:50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid white;    
    
  //  transition: 2s;
             font-family: 'Slabo 27px', serif;
 
 
 
    &:hover{
            background: #202020;
  
    }
    &>.content-wrapper{
        
        position: relative;
        
      //  animation: on-load 1s linear;
  
        &>.text-content{
            width:100%;
            height:100%;
            
            position: relative;
            &>h3{
                font-size:66px;
                margin:0;
                position: fixed;
                left: 50%;
                top:0;
                transform: translateX(-50%);
                opacity: 0;
            transition: 0.5s;            } 
            &>h3.titleVisible{opacity:1;}    
            &>p{
                position: fixed;
                top: 40%;
                text-align: center;
                font-size: 23px;   
                opacity: 1; 
                transition: 1s;     
                margin: 0 30px;
                


            }
            &>.paragraphVisible{

                 opacity: 1;

            }                                                 
  
        }
 
        }}  

        .loading-data{
         animation: on-load 1s linear;
            position: fixed;
            left:50%;
            text-align: center;
            transform: translateX(-50%) ;
            font-size: 56px;
        }
   
 .center-loading{
     display:grid;
     justify-content: center;
     align-items: center;
 }
 
.centerFooter{
    margin:5px;
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    flex-direction: row;

    &>div{
        margin:3px;
        margin-left:3px;
        margin-right:9px;
    }
}
.shader{
    width:100%;
    height:100%;
    background: black;
    z-index:30;
}
.github {
   
    height:30px;
  
 
    &>img{
          background:white;
        height:100%;
        border-radius: 50px;
        &:hover{
                background: brown;
            }     
            
       
    }
}

.email{
    height:30px;

    &>img{
           transition: 1s;
        background:white;
        height:100%;
         border-radius:50px;
          &:hover{
        background: yellowgreen;
    }
       
    }
}
 